body {
  padding: 0 1rem;
}

.grid {
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
} 

.grid .grid-cell {
  padding: 0.5rem;
  border: 1px solid #eeeeee;
}

li {
  padding-inline-start: 1.5rem;
}